name: Build Android ROM

on:
  push:
    branches:
      - main  # Trigger build on push to the main branch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:    
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            git \
            curl \
            openjdk-11-jdk \
            lzop \
            bc \
            bison \
            build-essential \
            libncurses5-dev \
            libncursesw5-dev \
            zlib1g-dev \
            liblz4-tool \
            liblzma-dev \
            gawk \
            flex \
            gettext \
            unzip \
            img2simg

      - name: Set up Android build environment
        run: | 
          echo "hb"
          curl https://raw.githubusercontent.com/Jayzee-Zee/build_scripts/SETUP/setup.sh | bash
          curl https://raw.githubusercontent.com/Jayzee-Zee/build_scripts/CipherOS/build.sh | bash
